
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("img/fondoarcade.jpg"); /* Corrección aquí */
    background-size: cover; /* Opcional, ajusta el tamaño de la imagen de fondo */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional, fija la imagen de fondo */
}
    .Titulo {
    font-family: Arial;
    color: black;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}

.fondo {
    width: 300px; /* Ajusta el ancho de tu contenedor */
    height: 200px; /* Ajusta el alto de tu contenedor */
    background-image: url("img/Ring.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
}

#Spoock {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

#lagartija {
    width: 125px;
    position: fixed;
    top: 0;
    right: 0;
}

.jugador, .maquina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.opcion {
    width: 200px;
    height: 150px;
    margin: 5mm;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#ring {
    max-width: 100%;
    max-height: 100%;
}
